@{
    ViewBag.Title = "User Management";

}
<script src='~/scripts/jquery-latest.min.js' type='text/javascript'></script>
<script src="~/scripts/knockout-3.0.0.debug.js" type="text/javascript"></script>
<script id="tableRow" type="text/html">
    <tr>
        <td>
            <input type="text" class="form-control" data-bind="value: number, valueUpdate: 'keyup'" />
        </td>
        <td>
            <input type="text" class="form-control" />
        </td>
        <td>
            <input type="text" class="form-control" />
        </td>
        <td>
            <button type="button" class="btn btn-group-lg btn-primary dropdown-toggle" data-bind="click: function(){ $data.remove(); }">
                Delete
            </button>
        </td>
    </tr>
</script>

<script type="text/javascript">

    function tableRow(number, ownerViewModel) {
        this.number = ko.observable(number);
        this.remove = function () {
            ownerViewModel.tableRows.destroy(this);
        }
    }

    function tableRowsViewModel() {
        var that = this;
        this.tableRows = ko.observableArray([]);
        this.addNewRow = function () {
            this.tableRows.push(new tableRow('', that));
        }
        this.addNewRow();

        //dependentObservable to represent the last row's value
        this.lastRowValue = ko.dependentObservable(function () {
            var rows = that.tableRows();
            return rows.length ? rows[rows.length - 1].number() : null;
        });

        //subscribe to changes to the last row
        this.lastRowValue.subscribe(function (newValue) {
            if (newValue) {
                that.tableRows.push(new tableRow('', that));
            }
        });
    }



    $(document).ready(function () {
        ko.applyBindings(new tableRowsViewModel());
    });


    $(function () {
        $("#btnAddExaminee").click(function () {
            ///create table dynamic
            var prgtbid = '';
            var tbcontent = '';
            $("#exmstcount tr").each(function () {
                prgtbid += $(this).find("td:first").text() + ","; //put elements into array
            });
            tbcontent += '<tr><td style="display:none;">' + $(this).attr('value') + '</td>';
            tbcontent += '<td ><div  contenteditable="true">Name';
            //tbcontent += '</td><td><div contenteditable="true" class="text-right" onkeypress="return IsNumberKeyed(event)">0</div></td><td><div  contenteditable="true" class="text-right"  onkeypress="return IsNumberKeyed(event)">0</div></td><td><div  contenteditable="true" class="text-right" onkeypress="return IsNumberKeyed(event)">0</div></td></tr>';
            tbcontent += '</td><td><div  contenteditable="true">email</div></td><td><button type="button" class="btn btn-group-lg btn-primary dropdown-toggle" id="btnAddExaminee" style="width:110px">Delete</button></td></tr>';
            $('#exmstcount').append(tbcontent);

        });
    });
</script>
<div class="row">

    <div class="col-xs-12 col-md-7">
        <div class="box-header">
            <h3 class="box-title">Users</h3>
        </div>
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="form-group" style="margin-top:5px">
                        <div class="col-xs-7 col-md-4">
                            <label>User ID</label>
                        </div>
                        <div class="col-xs-7 col-md-8">
                            <input type="text" class="form-control" value="v00002372">
                        </div>
                    </div>
                </div>
                <!--Exam Title -->
                <div class="row">
                    <div class="form-group" style="margin-top:5px">
                        <div class="col-xs-7 col-md-4">
                            <label>User Name</label>
                        </div>
                        <div class="col-xs-7 col-md-8">
                            <input type="text" class="form-control" value="Jayendranath Yelleswarapu">
                        </div>
                    </div>
                </div>
                <!--Program title -->
                <div class="row">
                    <div class="form-group" style="margin-top:5px">
                        <div class="col-xs-7 col-md-4">
                            <label>Email</label>
                        </div>
                        <div class="col-xs-7 col-md-8">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                </div>
                <!--Assessment Selection -->
                <div class="row">
                    <div class="form-group" style="margin-top:5px">
                        <div class="col-xs-7 col-md-4">
                            <label>Phone Number</label>
                        </div>
                        <div class="col-xs-7 col-md-8">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                </div>
                <!--Date and Time-->
                <!--Learning Center -->
                <div class="row">
                    <div class="form-group" style="margin-top:5px">
                        <div class="col-xs-7 col-md-4">
                            <label>Active</label>
                        </div>
                        <div class="col-xs-7 col-md-8">
                            <input type="checkbox" class="form-control">
                        </div>
                    </div>
                </div>
                <!--Room Number -->
                <div class="row" style="vertical-align:middle">
                    <div class="form-group" style="margin-top:5px">
                        <div class="col-xs-7 col-md-5">
                            <label>Current Roles</label>
                            <br />
                            <select class="form-control" size="5">
                                <option value="Admin">Admin</option>
                                <option value="Proctor">Proctor</option>
                                <option value="Client">Client</option>
                            </select>
                        </div>
                        <div class="col-xs-7 col-md-2">
                            <span style="float:none;vertical-align:central">
                                <br /><br />
                                <button type="button" class="btn btn-group-lg btn-primary dropdown-toggle" id="btnToRight" style="width:50px">
                                    >>
                                </button>
                                <br />
                                <button type="button" class="btn btn-group-lg btn-primary dropdown-toggle" id="btnToLeft" style="width:50px">
                                    <<
                                </button>
                            </span>
                        </div>
                        <div class="col-xs-7 col-md-4">
                            <label>Selected Roles</label>
                            <br />
                            <select class="form-control" size="5">
                                @*<option value="Admin">Admin</option>*@
                                <option value="Proctor">Proctor</option>
                                <option value="Examinee">Examinee</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="box-header">
            <div class="row">

                <div class="col-xs-7 col-md-4">

                </div>
                <div class="col-xs-7 col-md-8">
                    <button type="button" class="btn btn-group-lg btn-primary dropdown-toggle" id="btnSubmit" style="width:110px">
                        Submit
                    </button>
                    <button type="button" class="btn btn-group-lg btn-primary dropdown-toggle" id="btnCancel" onclick="location.href='@Url.Action("licenseamendment", "LCM" , new { btntext="Contracts" })'" style="width:110px">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-5">
        <div class="box-header with-border">
            <h3 class="box-title">Screens</h3>
        </div>
        <div class="box box-default">

            <div class="box-body">


                <div class="row">

                    <div class="form-group" style="margin-top:5px">
                        <table border=1 style="width:100%" class="table table-bordered table-hover">
                            <thead @*style="background-color:#8ea5d0"*@>
                                <tr>
                                    <th style="width:50%">
                                        Screen
                                    </th>
                                    <th style="width:10%">
                                        Add
                                    </th>
                                    <th style="width:10%">
                                        Edit
                                    </th>
                                    <th style="width:10%">
                                        Delete
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td><label>Proctor</label></td>
                                    <td><label>Yes</label></td>
                                    <td><label>Yes</label></td>
                                    <td><label>No</label></td>
                                </tr>
                                <tr>
                                    <td><label>Examinee</label></td>
                                    <td><label>Yes</label></td>
                                    <td><label>Yes</label></td>
                                    <td><label>No</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>